body{
    width: 100%;
    font-family: Helvetica,Arial, Helvetica, serif;
    font-style: normal;
    color: #3f3f42;;
    text-align: left;
}
ol {
    margin: 0%;
    padding: 0%;
}
li {
    margin: 0%;
    padding: 0%;
}

a{
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: #B80000;
}

#navbar {
    background-color:#B80000;
    width: 100%;
    margin: 0px;
    font-size: 1rem;
    line-height: 1.25rem;
    color:white;
    margin: 0px;
    list-style-type: none;
    min-height: 2.5rem;
    border-bottom: 0.0625rem solid transparent;
    font-family: ReithSans,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    box-sizing: inherit;
    display: block;
}
#navBar li:hover {
border-bottom: white 2px solid;
}
.navLinks {
    text-align:center;
    color:white;
    display: inline-block;
    padding: 11.5px;
    background-color: #B80000;
    font-size: 1.15rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
    box-sizing: inherit;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
}

.navLinks a{
    text-align: center;
    color:white;
    background-color: #B80000;
    font-size: 1.15rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
    position: relative;
    box-sizing: inherit;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px
}

ul {
    list-style-type: disc;
    margin-block-start: 50px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#mainTitle {
    display: block;
    width: 60%;
    background-color:white;
    font-size: 2.75rem;
    line-height: 3.625rem;
    margin-left: 50px;
    padding-left: 30px;
}
ul.a {
    display: block;
    width: 70%;
    color:#3F3F42;
    list-style-type: none;
    margin-left: 50px;
    margin-top: 1rem;
    padding-left: 30px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 1.125rem;
}

time.a{
    color:#3F3F42;
    list-style-type: none;
    margin-top: 1rem;
    margin-bottom: 30px;
    margin-left: 50px;
    padding-top: 1rem;
    padding-bottom: 30px;
    padding-left: 30px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 1.125rem;
}

#image1{
    width:671px;
    height:446px;
}
#image2{
    width:671px;
    height:374px;

}
#image3{
    width:671px;
    height:377px;
}

#image4{
    width:650px;
    height:400px;
}

.images {
    border-style: none;
    display: block;
    width: 100%;
    box-sizing: inherit;
    margin-top: 30px;
}
.caption {
    font-size: 0.875rem;
    width:550px;
    display:block;
    color: #6E6E73;
    margin-top: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0px;
    padding-left: 0px;
    border-left: 1px solid #6E6E73;
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 1.125rem;
    padding-inline-start: 10px;
}

.container{
    width: 60%;
    display: block;
    background-color:white;
    margin-left: 50px;
    padding-left: 30px;
    margin-right: 50px;
    padding-right: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    font-style: normal;
    color: #3F3F42;
    line-height: 1.5rem;
    box-sizing: inherit;
}

.linkedNews{
    color:#222222;
    cursor: pointer;
    font-weight: 400;
    margin-left: 0px;
    padding-left: 30px;
    margin-right: 50px;
}

a.linkedNews:hover{
color:red;
}
h2{
    display: block;
    font-size: 32px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 50px;
    padding-right: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-style: normal;
    color: #3F3F42;
    padding-top: 1.5rem;
    width: 60%;
    text-size-adjust: 100%;
    line-height: 2.6rem;
    font-family: ReithSans,Helvetica,Arial,sans-serif;
    box-sizing: inherit;
}

footer{
    display: block;
    font-size: 16px;
    margin-left: 30px;
    padding-left: 50px;
    margin-right: 50px;
    padding-right: 30px;
    font-weight: 700;
    font-style: italic;
    font-family: inherit;
    font-weight: inherit;
    color: #3F3F42;
    padding-top: 1.5rem;
    width: 50%;
    border-top:#3F3F42 solid;
}

.footerList{
    display: block;
    width: 70%;
    color:#3F3F42;
    list-style-type: circle;
    margin-left: 80px;
    margin-top: 1rem;
    padding-left: 0px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 1.125rem;
}